@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

// ----var-----------
.absolute-50 {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.no-underline {
    text-decoration: none !important;
}

.slide-up {
    animation: slideUp 0.8s forwards;
}
.slide-down {
    animation: slideDown 0.8s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}

.fade-up {
    animation: fadeUp 0.5s both;
}

.fade-down {
    animation: fadeDown 0.5s both;
}

@keyframes fadeDown {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(20%);
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(20%);
        opacity: 0;
        display: none;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

.fade-in {
    animation: fadeIn 0.7s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-left {
    animation: SlideLeft 0.3s forwards;
}

@keyframes SlideLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slide-right {
    animation: SlideRight 0.3s forwards;
}

@keyframes SlideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
