:root {
  --data-column: 2;
  --gap: 15px;
}


body::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.panel-box-shadow {
  box-shadow: 0 3px 5px var(--boxshadow);
}

.text-white {
  color: white;
}

.text-primary {
  color: var(--orange);
}

.icon-animate {
  transition: .3s all;
}

.icon-animate {
  scale: 1.2;
}

/* --------navbar--------- */
.submenu:hover {
  background-color: var(--orange);
  color: var(--white);
}

.submenu:hover .image {
  filter: invert(1);
}
